<html>
<head>
  <style>
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      min-width: 1em;
    }
  </style>
</head>
<body>
  <div data-board>
    <% board.cells.each do |row| %>
      <ul>
      <% row.each do |mark, link| %>
        <li data-board-cell="<%= mark %>">
          <% if link %>
            <a href="<%= link %>"><%= mark %></a>
          <% else %>
            <%= mark %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% if board.result_message %>
    <div data-winner="<%= board.winner %>">
      <%= board.result_message %>
    </div>
  <% end %>

  <a href="<%= board.restart_link %>">Restart game</a>
  <a href="<%= board.menu_link %>">Menu</a>
</body>
</html>
