<html>
<head>
  <style>
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
    }
  </style>
</head>
<body>
  <div data-board>
    <% side_size = Math.sqrt(marks.length).to_i %>
    <% marks.each_with_index.each_slice(side_size) do |row| %>
      <ul>
      <% row.each do |mark, move| %>
        <li data-board-cell="<%= mark.to_s %>">
          <% if mark %>
            <%= mark.to_s %>
          <% else %>
            <a href="/game/make_move?move=<%= move.to_s %>">
              <%= move.to_s %>
            </a>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <a href="/game/start?board_size=<%= side_size %>">
    Restart game
  </a>
</body>
</html>
