<%
marks = board.marks
finished = board.is_finished?
winner = board.winner

side_size = Math.sqrt(marks.length).to_i
%>
<html>
<head>
  <style>
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      min-width: 1em;
    }
  </style>
</head>
<body>
  <div data-board>
    <% marks.each_with_index.each_slice(side_size) do |row| %>
      <ul>
      <% row.each do |mark, move| %>
        <li data-board-cell="<%= mark.to_s %>">
          <% if mark %>
            <%= mark.to_s %>
          <% elsif finished %>
            _
          <% else %>
            <a href="/game/make_move?move=<%= move.to_s %>">
              <%= move.to_s %>
            </a>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% if finished %>
    <div data-winner="<%= winner.to_s %>">
      <%= winner.nil?? "It is a draw!" : "Player #{winner.to_s.upcase} has won!" %>
    </div>
  <% end %>

  <a href="/game/start?board_size=<%= side_size %>">
    Restart game
  </a>

  <a href="/">
    Menu
  </a>
</body>
</html>
