<!DOCTYPE html>
<html>
<head>
  <% if presenter.should_redirect %>
    <meta http-equiv="refresh" content="<%= presenter.redirect_timeout %>; url=<%= presenter.redirect_link %>">
  <% end %>
  <style>
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      min-width: 1em;
    }
  </style>
</head>
<body>
  <div data-board>
    <% presenter.cells.each do |row| %>
      <ul>
      <% row.each do |mark, link| %>
        <li data-board-cell="<%= mark %>">
          <% if link %>
            <a href="<%= link %>"><%= mark %></a>
          <% else %>
            <%= mark %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% if presenter.result_message %>
    <div data-winner="<%= presenter.winner %>">
      <%= presenter.result_message %>
    </div>
  <% end %>

  <a href="<%= presenter.restart_link %>">Restart game</a>
  <a href="<%= presenter.menu_link %>">Menu</a>
</body>
</html>
